<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/head :: head_fragment(title = ~{::title}, scripts = ~{::script}, links = ~{::link})">
    <title>ユーザ登録</title>
    <link href="/css/add.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <h1>ユーザ新規登録</h1>
        <table>
            <tr th:if="${validationError}" th:each="error : ${validationError}">
                <td style="color: red;" th:text="${error}"></td>
            </tr>
        </table>
        <form th:action="@{/user/create}" th:object="${userRequest}" th:method="post">
            <table>
                <tr>
                    <th class="cell_title">名前</th>
                    <th class="cell_required">※</th>
                    <td><input type="text" th:field="*{userName}"></td>
                </tr>
                <tr>
                    <th class="cell_title">パスワード</th>
                    <th class="cell_required"></th>
                    <td><input type="text" th:field="*{password}"></td>
                </tr>
                <tr>
                    <th class="cell_title">メールアドレス</th>
                    <th class="cell_required">※</th>
                    <td><input type="text" th:field="*{mailAddress}"></td>
                </tr>
            </table>
            <div class="btn_area_center">
                <input type="submit" value="登録" class="btn btn-primary">
            </div>
        </form>
    </div>
</body>

</html>